<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagbok</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id = header>
         <h1>Dagboken</h1>
    </div>

    <a id=showAllPosts href="/allPosts">Hantera alla inlägg</a>

    <a id=showBetweenDate href="/showBetweenDate">Sök med datum</a>

    <div id = createBox>
        <h1>Skapa inlägg</h1>
        <form method="post" th:action="@{/create}">
            <input type="text" name="header" placeholder="Rubrik" required><br><br>
            <textarea name="text" placeholder="Text" required></textarea><br>

            <input type="date" name="date" required><br>          
            <button>Lägg till</button>
        </form>
    </div>

    <div id = dateBox> 
        <ul>
            <h1>Dagens inlägg:</h1>
            <li th:each="diary : ${diarys}" >
                <h2 th:text="${diary.header}"></h2>
                <span th:text="${diary.date}"></span>
                <p th:text="${diary.text}"></p>
            </li>
        </ul> 
</div>
</body>
</html>
