<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DagbokDatum</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id=header>
        <h1>Dessa inlägg finns på angivet datum</h1>
    </div>

    <a id=home href="/">Startsida</a>

    <div id=searchBox>
        <h3>Sök inlägg mellan datum</h3>
        <form method="post" th:action="@{/showBetweenDate}">
            <input type="date" name="date1" required>
            <input type="date" name="date2" required><br>         
            <button type="submit">Sök</button>
        </form>
    </div>

    <div id=resultBox> 
        <ul>
            <li th:each="diary : ${diarys}" >
                <h2 th:text="${diary.header}"></h2>
                <span th:text="${diary.date}"></span>
                <p th:text="${diary.text}"></p>
            </li>
        </ul>
    </div>
</body>
</html>
